<div class="animated fadeIn fast jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center">¿Cómo lo hacemos?</h1>
        <div class="row">
            <div class="col-md-6 col-12">
                <img class="figure-img img-fluid rounded" src="assets/photos/photo1.JPG" alt="">
            </div>
            <div class="col-md-6 col-12">
                {{text}}
            </div>
        </div>
        <!-- <h1 class="display-4">Como lo hacemos</h1>
        <p class="lead">aquí va a ir como lo hacemos :V</p> -->
    </div>
</div>