<header class="animated fadeIn fast main-container container-fluid p-2 p-sm-0">
    <div class="container info p-2">
        <div class="row">
            <div class="col-12 col-sm d-flex justify-content-center align-items-center">
                <fa-icon [icon]="faPhone" size="lg"></fa-icon>
                <a class="ancle ml-2" href="tel:3013078684">301 307 8684</a>
            </div>
            <div class="col-12 col-sm d-flex justify-content-center align-items-center m-2 m-md-0">
                <fa-icon [icon]="faWhatsapp" size="lg"></fa-icon>
                <a class="ancle ml-2" href="https://api.whatsapp.com/send?phone=+573013078684" target="_blank">Envíanos
                    un
                    WhatsApp</a>
            </div>
            <div class="col-12 col-sm d-flex justify-content-center align-items-center m-2 m-md-0">
                <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
                <a class="ancle ml-2" href="mailto:merorollo@gmail.com">Envíanos un correo</a>
            </div>
        </div>
    </div>
    <div class="container">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</header>